<a id="cobran" name="cobran"></a>
<div class="panel panel-default">
  <div class="panel-heading">Personal que debería cobrar presentismo:</div>

  <% hayPersonal=0 %>
  <div class="panel-body">
	<table class="table">
	<% personalLiceo.forEach (function(info) { -%>
		<% if (info.activo=="S" && !(info.cargo=="BECARIOS" || info.cargo=="PASANTES"  || info.cargo=="SUBSIDIO AUTORIDADES CESANTES" || info.cargo=="Funcionarios externos sin básicos en CES") && (!arrInasistencias[ info.cedula ] || !arrInasistencias[ info.cedula ][ info.TipoCargo ] || arrInasistencias[ info.cedula ][ info.TipoCargo ]<2)) {
		   hayPersonal=1 %>
		<tr>
			<td><%= info.cedula %></td>
			<td><%= info.PerNombreCompleto %></td>
			<td><%= info.horas %> horas</td>
			<td><%= info.cargo %></td>
			<td><% if(arrInasistencias[ info.cedula ] && arrInasistencias[ info.cedula ][ info.TipoCargo ]) { %>
			  <%= arrInasistencias[ info.cedula ][ info.TipoCargo ] %> FALTA
			<% } else { %>
			  SIN FALTAS
			<% } %></td>
		</tr>
		<% }
	   });
	   if (!hayPersonal) { %>
		<tr><td>No hay personal que cumpla este criterio</td></tr>
	<% } %>
	</table>
  </div>
</div>

<a id="nocobran" name="nocobran"></a>
<div class="panel panel-default">
  <div class="panel-heading">Personal con más de 2 inasistencias (no cobran la compensación por presentismo de este mes):</div>

  <% hayPersonal=0 %>
  <div class="panel-body">
	<table class="table">
	<% personalLiceo.forEach (function(info) { -%>
		<% if (info.activo=="S" && !(info.cargo=="BECARIOS" || info.cargo=="PASANTES" || info.cargo=="SUBSIDIO AUTORIDADES CESANTES" || info.cargo=="Funcionarios externos sin básicos en CES") && arrInasistencias[ info.cedula ] && arrInasistencias[ info.cedula ][ info.TipoCargo ] && arrInasistencias[ info.cedula ][ info.TipoCargo ]>=2) {
		   hayPersonal=1 %>
		<tr>
			<td><%= info.cedula %></td>
			<td><%= info.PerNombreCompleto %></td>
			<td><%= info.horas %> horas</td>
			<td><%= info.cargo %></td>
			<td><% if(arrInasistencias[ info.cedula ] && arrInasistencias[ info.cedula ][ info.TipoCargo ]) { %>
			  <%= arrInasistencias[ info.cedula ][ info.TipoCargo ] %> FALTAS
			<% } else { %>
			  SIN FALTAS
			<% } %></td>
		</tr>
		<% }
	   });
	   if (!hayPersonal) { %>
		<tr><td>No hay personal que cumpla este criterio</td></tr>
	<% } %>
	</table>
  </div>
</div>

<a id="inactivos" name="inactivos"></a>
<div class="panel panel-default">
  <div class="panel-heading">Personal que no completó el mes de actividad, pasantes, becarios y otros que no cobran la compensación por presentismo de este mes:</div>

  <% hayPersonal=0 %>
  <div class="panel-body">
	<table class="table">
	<% personalLiceo.forEach (function(info) { -%>
		<% if (info.activo!="S" || info.cargo=="BECARIOS" || info.cargo=="PASANTES"  || info.cargo=="SUBSIDIO AUTORIDADES CESANTES" || info.cargo=="Funcionarios externos sin básicos en CES") {
		   hayPersonal=1 %>
		<tr>
			<td><%= info.cedula %></td>
			<td><%= info.PerNombreCompleto %></td>
			<td><%= info.horas %> horas</td>
			<td><%= info.cargo %></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<% }
	   });
	   if (!hayPersonal) { %>
		<tr><td>No hay personal que cumpla este criterio</td></tr>
	<% } %>
	</table>
  </div>
</div>
