<div id="heading" class="jumbotron">
<h1>Cierre mensual de presentismo</h1>
<p>Todos los liceos deben informar mensualmente que han ingresado en el sistema todas las inasistencias de los docentes para que se pueda realizar el cálculo de la compensación por presentismo.</p>
<p>Los liceos que no realicen el cierre mensual no estarán incluidos en el pago de presentismo.</p>
<p>Todos los períodos de licencia certificada deben estar ingresados en el corporativo.</p>
</div>

<div id="content">

<div id="presentismo">

<% if (typeof mensaje !== 'undefined') { -%>
<div class="alert alert-danger">
	<strong>ERROR:</strong> <%= mensaje %>
</div>
<% } -%>

<form method="post">
<input type="hidden" name="dependid" value="<%= DependId %>">
<div class="panel panel-default">
  <div class="panel-heading">Mes:</div>

  <div class="panel-body">
		<% var m=3 -%>
		<% for(row=1;row<4;row++) { -%>
		<div class="row">
			<% for (col=1;col<4;col++) { %>
	    <div class="col-xs-4 center">
				<ul class="nav nav-pills nav-justified">
				  <li role="presentation" class="<%= (infoMeses.meses[m].inhabilitado ? "disabled" : infoMeses.mes.id==m ? "active" : infoMeses.meses[m].estado) %>">
						<a<% if (!infoMeses.meses[m].inhabilitado) { %> href="?mes=<%= m %>"<% } %>><%= infoMeses.meses[m].nombre %></a>
					</li>
				</ul>
				<p><% if (infoMeses.meses[m].inhabilitado) {%>Aún no está habilitado<%} else { %><%= infoMeses.meses[m].estado %>: <%= infoMeses.fecha_toString(infoMeses.meses[m].fecha) %><%}%></p>
				<% if (infoMeses.mes.id==m && infoMeses.meses[m].estado!="Presentado") {%><button type="submit" name="cerrar" value="<%= m %>" class="btn btn-success">Cerrar el mes de <%= infoMeses.meses[m].nombre %></button><% } %>
	    </div>
			<% m++; } -%>
	  </div>
		<% } %>
	</div>

</div>
</form>

<p>Ver cierres pendientes: <a href="<% if (sails.config.environment != 'development') { %>/node/presentismo/<% } %>pendientes"><span class="glyphicon glyphicon-eye-open"></span></a></p>

<% if (infoMeses.mes.id) { -%>


<div id="indice">
<h2>Contenido:</h2>
<ul>
	<% if (Object.keys(certificados).length>0) { -%>
	<li><a href="#certificados">Docentes con licencias certificadas que no están ingresadas al corporativo</a></li>
	<% } -%>
	<li><a href="#cobran">Docentes que cobran presentismo</a></li>
	<li><a href="#nocobran">Docentes que no cobran presentismo</a></li>
	<li><a href="#inactivos">Docentes inactivos</a></li>
</ul>
</div>

<%	if (Object.keys(certificados).length>0) { -%>
<a id="certificados" name="certificados"></a>
<div class="panel panel-default">
  <div class="panel-heading bg-danger">Docentes con licencias certificadas que no están ingresadas al corporativo:</div>

  <div class="panel-body bg-danger">
        <table class="table">
		<tr>
			<th>Cédula</th>
			<th>Nombre</th>
			<th>Desde</th>
			<th>Hasta</th>
			<th>Causal</th>
		</tr>
        <% certificados.forEach (function(info) { -%>
                <tr>
                        <td><%= info.cedula %></td>
                        <td><%= info.PerNombreCompleto %></td>
                        <td><%= infoMeses.fecha_toString(info.InasisLicFchIni) %></td>
                        <td><%= infoMeses.fecha_toString(info.InasisLicFchFin) %></td>
                        <td><%= (typeof info.tipoLicencia==='string' ? info.tipoLicencia : '') %></td>
		</tr>
	<% }) -%>
	</table>
  </div>
</div>
<%	 } -%>

<%- partial ('../personal/index.ejs') -%>
<% } %>

</div>

</div>
