<div id="heading" class="jumbotron">
<h1>Cierre mensual de presentismo</h1>
<p>Todos los liceos deben informar mensualmente que han ingresado en el sistema todas las inasistencias de los docentes para que se pueda realizar el cálculo de la compensación por presentismo.</p>
<p>Los liceos que no realicen el cierre mensual no estarán incluidos en el pago de presentismo.</p>
</div>

<div id="content">

<div id="presentismo">

<% if (typeof mensaje !== 'undefined') { -%>
<div class="alert alert-danger">
	<strong>ERROR:</strong> <%= mensaje %>
</div>
<% } -%>

<form method="post">
<input type="hidden" name="dependid" value="<%= DependId %>">
<div class="panel panel-default">
  <div class="panel-heading">Mes:</div>

  <div class="panel-body">
    <div class="col-xs-4 center">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation"<% if (infoMeses.mes1.class) { %> class="<%= infoMeses.mes1.class %>"<% } %>><a<% if (!infoMeses.mes1.class) { %> href="?mes=1"<% } %>><%= infoMeses.mes1.nombre %></a></li>
	</ul>
	<p><% if (infoMeses.mes1.inhabilitado) {%>Aún no está habilitado<%} else { %><%= infoMeses.mes1.estado %>: <%= infoMeses.fecha_toString(infoMeses.mes1.fecha) %><%}%></p>
	<% if (infoMeses.mes.id==1 && infoMeses.mes1.estado!="Presentado") {%><button type="submit" name="cerrar" value="1" class="btn btn-success">Cerrar el mes de <%= infoMeses.mes1.nombre %></button><% } %>
    </div>
    <div class="col-xs-4 center">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation"<% if (infoMeses.mes2.class) { %> class="<%= infoMeses.mes2.class %>"<% } %>><a<% if (!infoMeses.mes2.class) { %> href="?mes=2"<% } %>><%= infoMeses.mes2.nombre %></a></li>
	</ul>
	<p><% if (infoMeses.mes2.inhabilitado) {%>Aún no está habilitado<%} else { %><%= infoMeses.mes2.estado %>: <%= infoMeses.fecha_toString(infoMeses.mes2.fecha) %><%}%></p>
	<% if (infoMeses.mes.id==2 && infoMeses.mes2.estado!="Presentado") {%><button type="submit" name="cerrar" value="2" class="btn btn-success">Cerrar el mes de <%= infoMeses.mes2.nombre %></button><% } %>
    </div>
    <div class="col-xs-4 center">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation"<% if (infoMeses.mes3.class) { %> class="<%= infoMeses.mes3.class %>"<% } %>><a<% if (!infoMeses.mes3.class) { %> href="?mes=3"<% } %>><%= infoMeses.mes3.nombre %></a></li>
	</ul>
	<p><% if (infoMeses.mes3.inhabilitado) {%>Aún no está habilitado<%} else { %><%= infoMeses.mes3.estado %>: <%= infoMeses.fecha_toString(infoMeses.mes3.fecha) %><%}%></p>
	<% if (infoMeses.mes.id==3 && infoMeses.mes3.estado!="Presentado") {%><button type="submit" name="cerrar" value="3" class="btn btn-success">Cerrar el mes de <%= infoMeses.mes3.nombre %></button><% } %>
    </div>
  </div>
</div>
</form>

<% if (infoMeses.mes.id) { -%>
<%	if (certificados) { -%>
<div class="alert alert-danger">
        <strong>ATENCIÓN:</strong> Hay certificaciones médicas declaradas en CODICEN que no están ingresadas como licencias en su liceo. Puede consultar el listado haciendo clic <a href="<%= certificados %>">aquí.</a>
</div>
<%	 } -%>


<div id="indice">
<h2>Contenido:</h2>
<ul>
	<li><a href="#cobran">Docentes que cobran presentismo</a></li>
	<li><a href="#nocobran">Docentes que no cobran presentismo</a></li>
	<li><a href="#inactivos">Docentes inactivos</a></li>
</ul>
</div>

<%- partial ('../personal/index.ejs') -%>
<% } %>

</div>

</div>
