<div id="heading_multas" class="jumbotron">
<h1>Cierre mensual de multas</h1>
<p>Todos los liceos deben informar mensualmente que han ingresado en el sistema todas las inasistencias del personal para que se pueda realizar el cálculo de multas.</p>
<p>Todos los períodos de licencia certificada que correspondan deben estar ingresados en el corporativo.</p>
</div>

<div id="content">

<div id="multas">

<% if (typeof mensaje !== 'undefined') { -%>
<div class="alert alert-danger">
	<strong>ERROR:</strong> <%= mensaje %>
</div>
<% } -%>

<form method="post">
<input type="hidden" name="dependid" value="<%= DependId %>">
<div class="panel panel-default hidden-print">
  <div class="panel-heading">Mes:</div>

  <div class="panel-body">
		<% var m=1 -%>
		<% for(row=1;row<=4;row++) { -%>
		<div class="row">
			<% for (col=1;col<=3;col++) { %>
	    <div class="col-xs-4 center">
				<ul class="nav nav-pills nav-justified">
				  <li role="presentation" class="<%= (infoMeses.meses[m].inhabilitado ? "disabled" : infoMeses.mes.id==m ? "active" : infoMeses.meses[m].estado) %>">
						<a<% if (!infoMeses.meses[m].inhabilitado) { %> href="<% if (sails.config.environment != 'development') { %>/node/presentismo/multas<% } %>?mes=<%= m %>"<% } %>><%= infoMeses.meses[m].nombre %></a>
					</li>
				</ul>
				<p><%if (m < 7) {%>Informar por SECLI<%} else if (infoMeses.meses[m].inhabilitado) {%>Aún no está habilitado<%} else { %><%= infoMeses.meses[m].estado %>: <%= infoMeses.fecha_toString(infoMeses.meses[m].fecha) %><%}%></p>
				<% if (infoMeses.mes.id==m && infoMeses.meses[m].estado!="Presentado") { -%>
					<button type="submit" name="cerrar" value="<%= m %>" class="btn btn-success">Cerrar el mes de <%= infoMeses.meses[m].nombre %></button>
				<% } else if (infoMeses.mes.id==m && infoMeses.meses[m].estado=="Presentado") { -%>
					<button type="submit" name="cerrar" value="<%= m %>" class="btn btn-success">Volver a cerrar el mes de <%= infoMeses.meses[m].nombre %></button>
				<% } %>
	    </div>
			<% m++; } -%>
	  </div>
		<% } %>
	</div>

</div>
</form>

<p>Ver cierres pendientes: <a href="<% if (sails.config.environment != 'development') { %>/node/presentismo/<% } %>pendientes"><span class="glyphicon glyphicon-eye-open"></span></a></p>

<% if (infoMeses.mes.id) { -%>


<div id="indice" class="hidden-print">
<h2>Contenido:</h2>
<ul>
	<% if (Object.keys(certificados).length>0) { -%>
	<li><a href="#certificados">Personal con licencias certificadas que no están ingresadas al corporativo</a></li>
	<% } -%>
	<li><a href="#sinmultas">Personal sin multas por inasistencias</a></li>
	<li><a href="#conmultas">Personal con multas por inasistencias</a></li>
	<li><a href="#conlicencias">Personal con multas por licencias</a></li>
</ul>
</div>

<%	if (Object.keys(certificados).length>0) { -%>
<a id="certificados" name="certificados"></a>
<div class="panel panel-default">
  <div class="panel-heading bg-danger">Personal con licencias certificadas que no están ingresadas al corporativo:</div>

  <div class="panel-body bg-danger">
        <table class="table">
		<tr>
			<th>Cédula</th>
			<th>Nombre</th>
			<th>Desde</th>
			<th>Hasta</th>
			<th>Causal</th>
		</tr>
    <% certificados.forEach (function(info) { -%>
			<tr>
		    <td><%= info.cedula %></td>
		    <td><%= info.PerNombreCompleto %></td>
		    <td><%= infoMeses.fecha_toString(info.CertFchIni) %></td>
		    <td><%= infoMeses.fecha_toString(info.CertFchFin) %></td>
		    <td><%= (typeof info.tipoLicencia==='string' ? info.tipoLicencia : '') %></td>
			</tr>
		<% }) -%>
	</table>
  </div>
</div>
<%	 } -%>

<a id="sinmultas" name="sinmultas"></a>
<div class="panel panel-default">
  <div class="panel-heading">Personal del liceo que no tiene multas por inasistencias:</div>

  <% hayPersonal=0 %>
  <div class="panel-body">
	<table class="table">
		<tr>
			<th>Cédula</th>
			<th>Nombre</th>
			<th>Carga Horaria</th>
			<th>Cargo</th>
			<th>Inasistencias</th>
		</tr>
	<% personalLiceo.forEach (function(info) { -%>
		<% var sinmulta = (!arrInasistencias[info.cedula] || !arrInasistencias[info.cedula][info.TipoCargo()]);
		   if (!sinmulta) {
				 // Tengo que recorrer todos los causales y ciclos de pago para comprobar que están todos en cero, entonces está sin multa
				 sinmulta=true;
				 for (var InasCausTipo in arrInasistencias[info.cedula][info.TipoCargo()]) {
					 for (var InasCausId in arrInasistencias[info.cedula][info.TipoCargo()][InasCausTipo]) {
						 for (var CicloPago in arrInasistencias[info.cedula][info.TipoCargo()][InasCausTipo][InasCausId]) {
							 sinmulta = sinmulta
							            && arrInasistencias[info.cedula][info.TipoCargo()][InasCausTipo][InasCausId][CicloPago].horas==0
							            && arrInasistencias[info.cedula][info.TipoCargo()][InasCausTipo][InasCausId][CicloPago].dias==0;
						 }
					 }
			 	 }
			 }
		   if (sinmulta) {
		   	hayPersonal=1 -%>
				<tr>
					<td><%= info.cedula %></td>
					<td><%= info.PerNombreCompleto %></td>
					<td><%= info.horas %> horas</td>
					<td><%= info.cargo %></td>
					<td>SIN INASISTENCIAS</td>
				</tr>
		<% }
	   });
	   if (!hayPersonal) { -%>
			 <tr><td>No hay personal que cumpla este criterio</td></tr>
		 <% } %>
	</table>
  </div>
</div>

<a id="conmultas" name="conmultas"></a>
<div class="panel panel-default">
  <div class="panel-heading">Personal del liceo con multas por inasistencias este mes:</div>

  <% hayPersonal=0 %>
  <div class="panel-body">
	<table class="table">
		<tr>
			<th>Cédula</th>
			<th>Nombre</th>
			<th>Carga Horaria</th>
			<th>Cargo y Ciclo de Pago</th>
			<th>Causal</th>
			<th>Multa</th>
		</tr>
	<% personalLiceo.forEach (function(info) {
			if (arrInasistencias[info.cedula] && arrInasistencias[info.cedula][info.TipoCargo()] && arrInasistencias[info.cedula][info.TipoCargo()]['I']) {

				for (var InasCausId in arrInasistencias[info.cedula][info.TipoCargo()]['I']) {
					for (var CicloPago in arrInasistencias[info.cedula][info.TipoCargo()]['I'][InasCausId]) {
						hayPersonal=1;
						dias  = arrInasistencias[info.cedula][info.TipoCargo()]['I'][InasCausId][CicloPago].dias;
						horas = arrInasistencias[info.cedula][info.TipoCargo()]['I'][InasCausId][CicloPago].horas;
						if (dias==0 && horas==0) {
							continue;
						}
						dias_semana = trabaja_sabado ? 6 : 5;
						str="-";
						if (dias > 0) {
							str=str+dias+" día"+(dias>1 ? "s" : "")+(horas > 0 ? " y " : "");
						}
						if (dias == 0 || horas > 0) {
							str=str+horas+" hora"+(horas>1 ? "s" : "");
						}
						if (dias > 0 && info.tipo != 2) {
							str=str+"= -"+ (Math.floor(dias * (info.horas/dias_semana)) + horas)+" horas";
						} else if (horas > 0 && info.tipo == 2) {
							str=str+"= -"+(Math.floor(horas / (info.horas/dias_semana)) + dias)+" días";
						}
						str=str+(InasCausId == "SA" ? " (x2)" : ""); -%>
						<tr>
							<td><%= info.cedula %></td>
							<td><%= info.PerNombreCompleto %></td>
							<td><%= info.horas %> horas</td>
							<td><%= info.cargo %><% if (CicloPago!="null") {%>, ciclo <%= CicloPago %><% } %></td>
							<td><%= InasCausId %></td>
							<td><%= str -%></td>
						</tr><%

					}
				}
			}
		});
	   if (!hayPersonal) { %>
		<tr><td colspan="6">No hay personal que cumpla este criterio</td></tr>
	<% } %>
	</table>
  </div>
</div>

<a id="conlicencias" name="conlicencias"></a>
<div class="panel panel-default">
  <div class="panel-heading">Personal del liceo con multas por licencias este mes:</div>
  <% hayPersonal=0 %>
  <div class="panel-body">
	<table class="table">
			<tr>
				<th>Cédula</th>
				<th>Nombre</th>
				<th>Carga Horaria</th>
				<th>Cargo y Ciclo de Pago</th>
				<th>Causal</th>
				<th>Multa</th>
			</tr>
	<% personalLiceo.forEach (function(info) {
			if (arrInasistencias[info.cedula] && arrInasistencias[info.cedula][info.TipoCargo()] && arrInasistencias[info.cedula][info.TipoCargo()]['L']) {
				for (var InasCausId in arrInasistencias[info.cedula][info.TipoCargo()]['L']) {
					for (var CicloPago in arrInasistencias[info.cedula][info.TipoCargo()]['L'][InasCausId]) {
						dias = arrInasistencias[info.cedula][info.TipoCargo()]['L'][InasCausId][CicloPago].dias;
						if (dias == 0) {
							continue;
						}
						hayPersonal=1;
						str="-"+dias+" día"+(dias>1 ? "s" : ""); -%>
						<tr>
							<td><%= info.cedula %></td>
							<td><%= info.PerNombreCompleto %></td>
							<td><%= info.horas %> horas</td>
							<td><%= info.cargo %><% if (CicloPago!="null") {%>, ciclo <%= CicloPago %><% } %></td>
							<td><%= str %></td>
						</tr><%
					}
				}
			}
	   });
	   if (!hayPersonal) { -%>
			 <tr><td colspan="6">No hay personal que cumpla este criterio</td></tr>
	<% } %>
	</table>
  </div>
</div>


<% } %>

</div>

</div>
