<div id="heading" class="jumbotron">
<h1>Cierres pendientes para presentismo</h1>
<p>En el listado de los cierres mensuales para presentismo se incluye el estado del cierre para cada dependencia a la cual tiene acceso.</p>
</div>

<div id="content">

<div id="pendientes">

<% if (typeof mensaje !== 'undefined') { -%>
<div class="alert alert-danger">
	<strong>ERROR:</strong> <%= mensaje %>
</div>
<% } -%>


<table class="table">
		<tr>
			<th>Dependencia</th>
			<th class="center"><%= infoMeses.mes1.nombre %></th>
			<th class="center"><%= infoMeses.mes2.nombre %></th>
			<th class="center"><%= infoMeses.mes3.nombre %></th>
		</tr>
    <% depends.forEach (function(info) { -%>
    <tr>
	    <td><%= info.dependdesc %></td>
			<td class="center"><% if (typeof infoMeses.mes1[info.dependid] !== 'undefined') { %>
						<span class="glyphicon glyphicon-ok text-success"></span>
					<% } else { %>
						<span class="glyphicon glyphicon-remove text-danger"></span>
					<% } %>
			</td>
	    <td class="center"><% if (typeof infoMeses.mes2[info.dependid] !== 'undefined') { %>
						<span class="glyphicon glyphicon-ok text-success"></span>
					<% } else { %>
						<span class="glyphicon glyphicon-remove text-danger"></span>
					<% } %>
			</td>
			<td class="center"><% if (typeof infoMeses.mes3[info.dependid] !== 'undefined') { %>
						<span class="glyphicon glyphicon-ok text-success"></span>
					<% } else { %>
						<span class="glyphicon glyphicon-remove text-danger"></span>
					<% } %>
			</td>
	<% }) -%>
</table>

</div>

</div>
